
#section{
    width: 30%;
    margin: 60px auto;
}
#blue,#red{
    width: 500px;
    height: 500px;
    text-align: center;
    color:#ffffff;
    position:relative;
    font-size: 50px;

}
div span{
    position: absolute;
    top: 40%;
    right: 26%;

}
#red{
    background-color: #ff0000;

}
#blue{
    background-color: #0000ff;

}
.hidden{
    display:none;
}
